html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: Roboto, sans-serif;
}

.pages{
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  color: #000;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  height: 80px;
  /* background-color: #F1F2E2; */
  background-color: rgb(108, 54, 255);
}

.logo{
  /* color: #777; */
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 34px;
}

.btnPrimary, .btnSecondary {
  height: 40px;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  outline: none;

  padding: 4px 14px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.15s;
}

.btnPrimary {
  background-color: rgb(108, 54, 255);
  color: white;
  &:hover {
    background-color: rgb(122, 74, 255);
  }
  &:active {
    background-color: rgb(146, 107, 255);
  }
}

.btnSecondary {
  background-color: rgb(255, 255, 255);
  color: rgb(108, 54, 255);

  border: 2px solid rgba(108, 54, 255, 0.4) !important;

  &:hover {
    background-color: rgb(108, 54, 255);
    color: white;
  }
  &:active {
    background-color: rgb(122, 74, 255);
  }
}
